*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh; /* Aseguramos que el body ocupe toda la altura de la ventana */
    background-color: aqua;
}
p{
    color: blue;
}

.common-class{
    height: 33.33%;
    width: auto;
}

header{
    background-color: darkkhaki;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

footer{
    background-color: peru;
}

.rectangulo{
    width: 80%;
    height: 80%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cuadradito{
    margin-top: auto;
    width: 80%;
    height: 80%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

partecitas{
    margin-top: auto;
    width: 80%;
    height: 10%;
}

.segunda-seccion{
    display: flex;
    justify-content: space-between;
}

gris{
    background-color: gray;
    height: 100%;
    width: 20%;
}

.sec1{
    width: 40%;
    height: 40%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adentrito{
    background-color: bisque;
    margin: 5%;
    width: 100%;
    height: 30%;
}

.sec2{
    aspect-ratio: 1/1; /* hace que el width tenga la misma cantidad de pixeles que el height */
    height: 40%;
    background-color: green;
}

section{
    background-color: darkorange;
    display: flex;
    flex-direction: row;
}

.parte1{
    margin-left: 5%;
    margin-right: 5px;
    background-color: aqua;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuadrado-de-texto{
    aspect-ratio: 1/1;
    height: 70%;
    background-color: hotpink;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
}

.parte2{
    margin-right: 5%;
    background-color: aqua;
    width: 100%;
    height: 100%;
}

.primera-categoria{
    margin-top: 5%;
    height: 7%;
    width: 60%;
    display: flex;
    flex-direction: row;
}

.cuadrado-blanco{
    margin-right: 10%;
    background-color: forestgreen;
    height: 100%;
    aspect-ratio: 1/1;
}
.rectangulo-blanco{
    height: 100%;
    width: 100%;
    background-color: white;
}
